<aside id="game-chat" class="game-aside">
    <div id="chat">
        <div id="sent-messages">
            <!-- messages get created in multiplayer.js and appended here  -->
        </div>
    </div>
    <div id="send-message">
        <input id="compose-message" type="text" placeholder="Send message...">
        <button id="send-message-btn" class="lobby-btn">Send</button>
    </div>
</aside>