<div class="mobile-controls">
    <div id="mobile-controls__up" class="mobile-controls__arrow up">
        <img src="icons/triangle.png" alt="">
    </div>
    <div id="mobile-controls__down" class="mobile-controls__arrow down">
        <img src="icons/triangle.png" style="transform: rotate(180deg);" alt="">
    </div>
    <div id="mobile-controls__left" class="mobile-controls__arrow left">
        <img src="icons/triangle.png" style="transform: rotate(-90deg);" alt="">
    </div>
    <div id="mobile-controls__right" class="mobile-controls__arrow right">
        <img src="icons/triangle.png" style="transform: rotate(90deg);" alt="">
    </div>
</div>