<aside class="game-aside">
    <div class="game-info">
        <div id="current-players" class="game-info__section">
            <p class="game-info__section-title">Players</p>
            <div class="section__item">
                <p id="player-1">Awaiting player</p>
                <span id="player-one-food-count"></span>
            </div>
            <div class="section__item">
                <p id="player-2">Awaiting player</p>
                <span id="player-two-food-count"></span>
            </div>
        </div>
        <div id="game-settings" class="game-info__section">
            <p class="game-info__section-title">Settings</p>
            <div id="goal-setting" class="section__item">
                <p>Goal</p>
                <input id="goal-input" type="number" value="10" min="3" max="100">
            </div>
            <div id="speed-setting" class="section__item">
                <p>Speed</p>
                <input id="speed-input" type="number" value="5" min="1" max="20">
            </div>
        </div>
        <div id="game-stats-multiplayer" class="game-info__section">
            <p class="game-info__section-title">Stats</p>
            <div class="section__item">
                <p>Wins</p>
                <span id="wins">0</span>
            </div>
            <div class="section__item">
                <p>Losses</p>
                <span id="losses">0</span>
            </div>
        </div>
        <div id="game-type" class="game-info__section">
            <div id="game-type-dropdown" class="game-info__section-title">
                <span id="game-type-dropdown__title">Choose game type </span><span id="dropdown-arrow-down">▾</span>
                <div id="game-type-dropdown__content">
                    <p class="game-type__option option-active">Classic</p>
                    <p class="game-type__option">Live bait</p>
                    <p class="game-type__option">Pedal to the metal</p>
                    <p class="game-type__option">All you can eat</p>
                </div>
            </div>
            <h1 id="game-type-header" class="game-info__section-title">Game type</h1>
            <div class="section__item">
                <p class="current-game-type">Classic</p>
            </div>
        </div>
        <span class="back-arrow">←</span>
    </div>
    <div id="game-aside__buttons">
        <button id="start-game-btn" class="lobby-btn">Start Game</button>
        <button id="play-again-btn" class="lobby-btn">Play again</button>
    </div>
</aside>