<aside class="game-aside">
    <div class="game-info">
        <div id="game-settings" class="game-info__section">
            <p class="game-info__section-title">Settings</p>
            <div id="speed-setting" class="section__item">
                <p>Speed</p>
                <input id="speed-input" type="number" value="5" min="1" max="20">
            </div>
        </div>
        <div id="game-stats-single-player" class="game-info__section">
            <p class="game-info__section-title">Stats</p>
            <div class="section__item">
                <p>Highscore</p>
                <span id="highscore">0</span>
            </div>
            <div class="section__item">
                <p>Games played</p>
                <span id="games-played">0</span>
            </div>
            <div class="section__item">
                <p>Food count</p>
                <span id="food-count">0</span>
            </div>
        </div>
        <div id="game-type" class="game-info__section">
            <div id="game-type-dropdown" class="game-info__section-title">
                <span id="game-type-dropdown__title">Choose game type </span><span id="dropdown-arrow-down">▾</span>
                <div id="game-type-dropdown__content">
                    <p class="game-type__option option-active">Classic</p>
                    <p class="game-type__option">Live bait</p>
                    <p class="game-type__option">Pedal to the metal</p>
                    <p class="game-type__option">All you can eat</p>
                </div>
            </div>
            <div class="section__item">
                <p class="current-game-type">Classic</p>
            </div>
        </div>
        <span class="back-arrow">←</span>
    </div>
    <div id="game-aside__buttons">
        <button id="start-game-btn" class="lobby-btn">Start Game</button>
        <button id="play-again-btn" class="lobby-btn">Play again</button>
    </div>
</aside>