
main {
    position: relative;
    @include flex_centered(column);
    padding: 30px 0;
    width: 100%;
    // min-height: 100vh;
    @include responsive($tablet_large) {
        justify-content: flex-start;
        gap: 60px;
    }
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.show-flex {
    display: flex !important;
}

.invisible {
    opacity: 0 !important;
}

.visible {
    opacity: 1 !important;
}

