* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    background-color: $dark_green
}

main {
    min-height: 100vh;
    @include flex_centered(column);
    @include responsive($mobile) {
        justify-content: flex-start;
    }
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.show-flex {
    display: flex !important;
}

.invisible {
    opacity: 0 !important;
}

.visible {
    opacity: 1 !important;
}
