<%- include("partials/header") -%>
<main>
    <h1 class="header">Snake Race</h1>
    <div id="home-screen">
        <div id="game-options">
            <a id="single-player-btn" class="lobby-btn" href="/single-player-game">Single player</a>
            <label for="multiplayer-input" class="multiplayer-btn lobby-btn">Multiplayer</label>
            <% if(tryAgain) { %>
                <input type="checkbox" id="multiplayer-input" checked>
            <% } else { %>
                <input type="checkbox" id="multiplayer-input" autocomplete="off">
            <% } %>
            <form action="/multiplayer-lobby" method="POST" id="enter-nickname">
                <input name="nickname" id="nickname-input" class="lobby-input" type="text" placeholder="Enter nickname">
                <button type="submit" id="continue-btn" class="lobby-btn">Continue</button>
                <p id="nickname-message"><%= message %></p>
            </form>
        </div>
    </div>
</main>
<%- include("partials/footer") -%>

