<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Roboto+Condensed:wght@500&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link type="" rel="stylesheet" href="../sass/main.css">

    <title>Snake Game</title>
</head>
<body>
    <main>
        <h1 class="header">Snake Race</h1>
        <div class="lobby-screen">
            <div id="game-options">
                <button id="single-player-btn" class="lobby-btn">Single player</button>
                <button id="multiplayer-btn" class="lobby-btn">Multiplayer</button>
            </div>
            <div id="multiplayer">
                <button id="create-game-btn" class="lobby-btn">Create new game</button>
                <hr class="divider">
                <dive id="join-game">
                    <input id="join-input" type="text" placeholder="Enter game code" required>
                    <button id="join-game-btn" class="lobby-btn">Join Game</button>
                </dive>
                <button id="back-btn" class="lobby-btn back-btn">Back</button>
            </div>
        </div>
        <div id="game-screen">
            <h1 id="your-game-code">Share this game code to invite another player</h1>
            <span id="game-code"></span>
            <div class="grid-container">
                <h1 id="game-message"></h1>
                <canvas id="canvas"></canvas>
            </div>
        </div>

    </main>

    <!-- <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script> -->
   
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
</body>
</html>

