<%- include("partials/header") -%>
<main>
    <div id="game-screen">
        <%- include('partials/single-player-settings') -%>
        <div class="grid-container">
            <h1 id="countdown"></h1>
            <h1 id="game-message"></h1>
            <canvas id="canvas"></canvas>
            <div id="game-code-div">
                <p id="your-game-code" class="text-info"></p>
                <p class="text-info">controls: ← ↑ → ↓</p>
            </div>
        </div>
        <%- include('partials/mobile-controls') -%>

        <!-- Only visible on portrait  -->
        <button id="mobile-start-game-btn" class="lobby-btn">Start game</button>
        <button id="mobile-play-again-btn" class="lobby-btn">Play again</button>
        <button id="mobile-settings-trigger" class="lobby-btn">Settings</button>

    </div>
</main>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/gameplay/singlePlayer.js" type="module"></script>

<%- include("partials/footer") -%>