#game-screen {
    @include flex_centered(row);
    align-items: flex-start;
    gap: 30px;
    // display: none;
    @include responsive($mobile) {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .grid-container {
        height: 650px;
        width: 600px;
        position: relative;
        margin-bottom: 50px;
        @include responsive($mobile) {
            height: 340px;
            width: 340px;
            margin-bottom: 0;
        }

        #game-message, #countdown {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 6.5rem;
            font-family: "Bungee Shade", sans-serif;
            color: $light_green;
            text-align: center;
            width: 100%;
        }
        #game-message {
            font-size: 4rem;
        }
    }
    #game-code-div {
        width: 600px;
        display: flex;
        justify-content: space-between;
    }
    #mobile-start-game-btn {
        display: none;
        @include responsive($mobile) {
            display: block;
            width: 100%;
        }
    }
}