.game-chat{
    width: 250px;
    @include responsive($tablet_large) {
        position: fixed;
        top: 0;
        left: 110%;
        z-index: 1000;
        transform: translateX(0);
        transition: .5s ease-in-out;
        width: 100%;
        height: 100vh;
        background-color: $very_dark_green;
        justify-content: space-between;
        padding-bottom: 30px;
        flex-wrap: nowrap;
        gap: 0px;
    } 

    #chat {
        width: 100%;
        height: 480px;
        background-color: $very_dark_green;
        position: relative;
        padding: 10px 0 20px;
        @include responsive($tablet_large) {
            height: calc(100vh - 70px);
            padding: 50px 0 30px;
        }
        
        
        .close-chat {
            display: none; 
            @include responsive($tablet_large) {
                display: block;
                position: absolute;
                top: 10px;
                right: 15px;
                color: $light_green;
                font-size: 1.2rem;
            }
        }
        #sent-messages {
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            @include flex_centered(column);
            flex-wrap: nowrap;
            justify-content: flex-start;
            gap: 20px;
            padding: 10px;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

            &::-webkit-scrollbar {
               display: none;
            }
            .chat-message {
                width: fit-content;
                max-width: 80%;
                padding: 10px;
                background-color: #e7e7e7;
                border-radius: 10px;
                
                p {
                    font-weight: 400;
                }
            }
            .incoming-message {
                align-self: flex-start;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: -2px;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    border-right: 5px solid #e7e7e7;
                }
            }
            .outgoing-message {
                align-self: flex-end;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    right: -2px;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    border-left: 5px solid #e7e7e7;
                }
            }
            .server-message {
                min-width: 90%;
                margin: 10px 0;
                background-color: $light_green;
                text-align: center;
            }
            .gif-message {
                padding: 5px;
                max-width: 90%;
                &__img {
                    object-fit: contain;
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
        .gif-display {
            position: absolute;
            top: 0;
            height: calc(100% - 20px);
            width: 100%;
            overflow-y: scroll;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 10px;
            padding: 10px;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            background-color: $very_dark_green;
            transition: .3s;
            display: none;

            &::-webkit-scrollbar {
                display: none;
            }
            .giphy-attribution {
                min-width: 100%;
                text-align: center;
                margin-bottom: 10px;
                color: $light_green;
            }
            .gif-img {
                width: 90%;
                height: 180px;
                object-fit: cover;
                background-color: $very_dark_green;
                cursor: pointer;
                display: none;
            }
        }
        .chat__bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 10px 0;
            background-color: $dark_green;
            gap: 10px;

            .typing {
                color: $light_green;
            }
            .gif-icon {
                color: #e7e7e7;
                padding: 0 4px;
                border-radius: 3px;
                border: 2px solid #e7e7e7;
                font-size: .8rem;
                font-weight: 400;
                cursor: pointer;
                transition: .2s;
                background-color: $dark_green;

                &:hover {
                    color: $very_dark_green;
                    background-color: #e7e7e7;
                }
            }
            .gif-search-input {
                height: 0;
                width: 100%;
                border: none;
                background-color: #e7e7e7;
                padding: 0 10px;
                font-weight: 400;
                transition: .4s;
            }
            .show-input{
                height: 40px;
            }
        }
    }
    #send-message {
        @include flex_centered(column);
        gap: 10px;
        width: 100%;
        @include responsive($tablet_large) {
            flex-direction: row;
        }

        #compose-message {
            height: 40px;
            width: 100%;
            border: none;
            background-color: #e7e7e7;
            padding: 0 10px;
            font-weight: 400;
            @include responsive($tablet_large) {
                width: 80%;
            }
        }
        #send-message-btn {
            width: 100%;
            padding: 2px;
            @include responsive($tablet_large) {
               display: none;
            }
        }
        #mobile-send-message-btn {
            display: none;
            @include responsive($tablet_large) {
                height: 40px;
                width: 40px;
                background-color: $light_green;
                border: none;
                @include flex_centered(row);
            }
        }

    }
    .keyboardOpen {
        margin-bottom: 50px;
    }
}
.chat-open {
    left: 50%;
    transform: translateX(-50%);
}