.game-aside {
    @include flex_centered(column); 
    gap: 30px;
    height: fit-content;
    @include responsive($tablet_large) {
        position: fixed;
        top: 0;
        left: -110%;
        z-index: 1000;
        transition: .5s ease-in-out;
        width: 100%;
        height: 100vh;
    }
    
    .game-info {
        width: 230px;
        height: 525px;
        padding: 25px;
        background-color: $very_dark_green;
        @include flex_centered(column);
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 25px;
        @include responsive($tablet_large) {
            width: 100%;
            height: 100%;
            position: relative;
        }
    
        p, span {
            font-weight: 400;
        }
        &__section {
            width: 100%;
            max-width: 500px;
            @include flex_centered(column);
            gap: 10px;
    
            &-title {
                color: $light_green;
                font-size: 1.1rem;
            }
            .section__item {
                background-color: $light_green;
                width: 100%;
                padding: 5px 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                input {
                    width: 50px;
                    text-align: center;
                    font-weight: 400;
                }
                input[type=number]::-webkit-inner-spin-button, 
                input[type=number]::-webkit-outer-spin-button {  
                    opacity: 1;
                }
                @include responsive($tablet_large) {
                    input[type=number]::-webkit-inner-spin-button, 
                    input[type=number]::-webkit-outer-spin-button {
                        opacity: 0;
                    }
                }
            }
            .player-2-settings {

                input {
                    background: none;
                    border: none;
                    text-align: right;
                    pointer-events: none;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &[type=number] {
                        -moz-appearance: textfield;
                    }
                }
            }
        }
        #current-players {
            .section__item:last-child {
                background-color: #a7a7a7;
            } 
        }
        #game-type {
            #game-type-dropdown {
                width: 100%;
                position: relative;
                cursor: pointer;
                @include responsive($tablet_large) {
                    text-align: center;
                }
                &:hover #game-type-dropdown__content {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                #dropdown-arrow-down {
                    position: absolute;
                    top: -2px;
                    right: 12px;
                    font-size: 1.6rem;
                    color: $light_green;
                    @include responsive($tablet_large) {
                        display: none;
                    }
                }
                &__content {
                    display: none;
                    position: absolute;
                    background-color: $very_dark_green;
                    width: 100%;
                    padding: 10px;
                    @include responsive($tablet_large) {
                        @include flex_centered(column);
                        align-items: flex-start;
                        gap: 20px;
                        margin-top: 30px;
                    }

                    .game-type__option {
                        color: $light_green;
                        font-weight: 400;
                        @include responsive($tablet_large) {
                            font-size: 1.2rem;
                        }

                        &:hover {
                            background: $light_green;
                            color: $very_dark_green;
                        }
                    }
                    .option-active {
                        background-color: $light_green;
                        color: $very_dark_green;
                        animation: clicked .4s;
                        padding: 5px 10px;
                    }
                    @keyframes clicked {
                        0% {
                            background-color: $very_dark_green;
                            color: $light_green;
                        }
                        100% {
                            background-color: $light_green;
                            color: $very_dark_green;
                        }
                    }
                }
            }
            .current-game-type {
                width: 100%;
                background-color: $light_green;
                padding: 5px 10px;
                text-align: center;
                @include responsive($tablet_large) {
                    display: none;
                }
            }
        }
        .back-arrow {
            display: none;
            @include responsive($tablet_large) {
                display: block;
                position: absolute;
                bottom: 35px;
                right: 20px;
                font-size: 2rem;
                color: $light_green;
                padding: 10px;
            }
        }
    }
    #game-aside__buttons {
        #start-game-btn {
            @include responsive($tablet_large) {
                display: none;
            }
        }
        #play-again-btn {
            display: none;
        }
    }
}

