.game-chat{
    width: 250px;
    @include responsive($tablet_large) {
        position: fixed;
        top: 0;
        left: 110%;
        z-index: 1000;
        transform: translateX(0);
        transition: .5s ease-in-out;
        width: 100%;
        height: 100vh;
        background-color: $very_dark_green;
        justify-content: space-between;
        padding-bottom: 30px;
        flex-wrap: nowrap;
        gap: 0px;
    } 

    #chat {
        width: 100%;
        height: 480px;
        background-color: $very_dark_green;
        position: relative;
        padding: 50px 0 30px;
        @include responsive($tablet_large) {
            height: calc(100vh - 70px);
        }
        
        #sent-messages {
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            @include flex_centered(column);
            flex-wrap: nowrap;
            justify-content: flex-start;
            gap: 20px;
            padding: 10px;

            &::-webkit-scrollbar {
                width: 7px;
            }
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                box-shadow: inset 0 0 6px rgba(158, 158, 158, 0.3);
                border-radius: 10px;
            }   
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(177, 177, 177, 0.5);
                box-shadow: inset 0 0 6px rgba(177, 177, 177, 0.5); 
            }
            .chat-message {
                width: fit-content;
                max-width: 80%;
                padding: 10px;
                background-color: #e7e7e7;
                border-radius: 10px;
                
                p {
                    font-weight: 400;
                }
            }
            .incoming-message {
                align-self: flex-start;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: -2px;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    border-right: 5px solid #e7e7e7;
                }
            }
            .outgoing-message {
                align-self: flex-end;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    right: -2px;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    border-left: 5px solid #e7e7e7;
                }
            }
            .server-message {
                min-width: 90%;
                margin: 10px 0;
                background-color: $light_green;
                text-align: center;
            }
        }
        .close-chat {
            display: none; 
            @include responsive($tablet_large) {
                display: block;
                position: absolute;
                top: 10px;
                right: 15px;
                color: $light_green;
                font-size: 1.2rem;
            }
        }
        .typing {
            width: 100%;
            color: $light_green;
            position: absolute;
            bottom: 5px;
            text-align: center;
        }
    }
    #send-message {
        @include flex_centered(column);
        gap: 10px;
        width: 100%;
        @include responsive($tablet_large) {
            flex-direction: row;
        }

        #compose-message {
            height: 40px;
            width: 100%;
            border: none;
            background-color: #e7e7e7;
            padding: 0 10px;
            font-weight: 400;
            @include responsive($tablet_large) {
                width: 80%;
            }
        }
        #send-message-btn {
            width: 100%;
            padding: 2px;
            @include responsive($tablet_large) {
               display: none;
            }
        }
        #mobile-send-message-btn {
            display: none;
            @include responsive($tablet_large) {
                height: 40px;
                width: 40px;
                background-color: $light_green;
                border: none;
                @include flex_centered(row);
            }
        }

    }
    .keyboardOpen {
        margin-bottom: 50px;
    }
}
.chat-open {
    left: 50%;
    transform: translateX(-50%);
}