.header {
    font-size: 4rem;
    color: $light_green;
    letter-spacing: 5px;
    font-family: "Bungee Shade", sans-serif;
    text-align: center;

    @include responsive($tablet_large) {
        font-size: 3.5rem;
        line-height: 1.5;
        margin-top: 20px;
    }
}