.lobby-screen {
    @include flex_centered(column);
    gap: 50px;
    

    #game-options { 
        @include flex_centered(column);
        gap: 50px;
    }
    #multiplayer {
        @include flex_centered(column);
        gap: 50px;
        display: none;
        
        .divider {
            width: 100%;
            border: 1px solid $light_green;
        }
        #join-game {
            @include flex_centered(column);
            
            #join-input {
                margin-bottom: 20px;
                border-radius: 10px;
                border: none;
                padding: 5px;
                text-align: center;
                height: 40px;
            }
        }
        #back-btn {
            min-width: fit-content;
            padding: 5px 20px;
            margin-top: 50px;
        }
    }
}